pre-release-commit-message = "release {{crate_name}} {{version}}"
tag = false
push = false
publish = false
enable-features = ["all", "unsupported"]
consolidate-commits = false
pre-release-replacements = [
  {file="CHANGELOG.md", search="Unreleased", replace="v{{version}}", prerelease=false},
  {file="CHANGELOG.md", search="ReleaseDate", replace="{{date}}", prerelease=false},
  {file="CHANGELOG.md", search="<!-- next-header -->", replace="<!-- next-header -->\n\n## [Unreleased] - ReleaseDate\n\n[Commits](https://github.com/twitch-rs/twitch_oauth2/compare/v{{version}}...Unreleased)", prerelease=false},
  {file="README.md", search="twitch_oauth2/[a-z0-9\\.-]+/twitch_oauth2", replace="{{crate_name}}/{{version}}/{{crate_name}}", prerelease=true},
  {file="src/lib.rs", search="version = \"[a-z0-9\\.-]+\" }", replace="version = \"{{version}}\" }", prerelease=true},
  {file="Cargo.toml", search="https://docs.rs/twitch_oauth2/[a-z0-9\\.-]+", replace="https://docs.rs/{{crate_name}}/{{version}}", prerelease=true},
]