name: CI
env:
  CI_TWITCH_OAUTH2_FEATURES: "all mock_api"
  MSRV: 1.71.1
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches: [main]
  merge_group:
    types: [checks_requested]
jobs:
  ci:
    name: CI
    needs: [test, fmt, clippy, docs, release, wasm-build]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - run: jq --exit-status 'all(.result == "success")' <<< '${{ toJson(needs) }}'
      - name: Done
        run: exit 0
  release:
    name: Release
    runs-on: ubuntu-latest
    needs: [test, fmt, clippy, docs, wasm-build]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0 # fetch tags for publish
          # ssh-key: "${{ secrets.COMMIT_KEY }}" # use deploy key to trigger workflow on tag
      - uses: Swatinem/rust-cache@v2
      - run: cargo xtask release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  test:
    name: Tests
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-latest]
        rust: ["", nightly]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust || env.MSRV }}
      - uses: Swatinem/rust-cache@v2
      - name: Test twitch_oauth2
        run: cargo test --all-targets --features "${{ env.CI_TWITCH_OAUTH2_FEATURES }}" ${{matrix.rust == 'nightly' && '--workspace'}}
  fmt:
    name: Rustfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Run fmt --all -- --check
        run: cargo fmt --all -- --check
  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting with Prettier
        uses: actionsx/prettier@v3
        with:
          args: -c .
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
      - name: Run clippy
        run: cargo clippy --locked
      - name: Run clippy --all-targets --all-features --workspace
        run: cargo clippy --locked --all-targets --all-features --workspace
  docs:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
      - uses: Swatinem/rust-cache@v2
      # We do the following to make sure docs.rs can document properly without anything broken, and that docs are working.
      - name: Run doc tests
        run: cargo test --doc --all-features
      - name: Check twitch_oauth2 docs
        run: cargo xtask doc
  wasm-build:
    name: WASM Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.MSRV }}
          targets: wasm32-unknown-emscripten
      - uses: Swatinem/rust-cache@v2
      - name: Test twitch_oauth2
        run: cargo build --target wasm32-unknown-emscripten
